In [1]:
import numpy as np
import pandas as pd

In [3]:
np.random.seed(100)
arr = np.random.randint(0,100, (5,3))
arr

array([[ 8, 24, 67],
       [87, 79, 48],
       [10, 94, 52],
       [98, 53, 66],
       [98, 14, 34]])

In [4]:
# THe column names by default are 0, 1, 2, 3, 4 (same for index)
df = pd.DataFrame(arr)
df

    0   1   2
0   8  24  67
1  87  79  48
2  10  94  52
3  98  53  66
4  98  14  34

In [5]:
type(df)

pandas.core.frame.DataFrame

In [8]:
rownames = ['Mon', 'Tue', 'Wed', 'Thu', 'Fri']
columnnames = ['Jan', 'Feb', 'Mar']

In [10]:
df = pd.DataFrame(arr, index = rownames, columns = columnnames)
df

     Jan  Feb  Mar
Mon    8   24   67
Tue   87   79   48
Wed   10   94   52
Thu   98   53   66
Fri   98   14   34

In [14]:
df['Jan']['Mon'] = 5
df

     Jan  Feb  Mar
Mon    5   24   67
Tue   87   79   48
Wed   10   94   52
Thu   98   53   66
Fri   98   14   34